/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body a{
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	background:#FFFFFF;
}
.banner{
	background: url(../images/lisbon1.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.agileinfo-dot{
	background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
	padding: 1em 0;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*-- banner --*/
/*-- header --*/
.header {
    margin: 2em 0 0 0;
}
.agileits-logo h1{
	margin:0;
}
.agileits-logo h1 a{
    font-size: 1em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    padding: .2em .5em;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 6px;
}

/*-- //social-icons --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}

/*-- //header --*/
/*-- w3layouts-banner-info --*/
.w3layouts-banner-info {
    padding: 8em 0 2em 0;
    text-align: center;
}
.w3ls-text{
    padding: 2em;
    width: 31%;
    margin: 0 auto;
    text-align: center;
    border: solid 16px #FFFFFF;
}
.w3ls-text h2{
    margin: 0;
    font-size: 3.5em;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 4px;
}
.w3-arrow{
    text-align: center;
    margin: 4em 0 0 0;
}
.w3-arrow a i.fa.fa-angle-down{
    color: #FFFFFF;
    font-size: 2em;
    border: solid 1px #FFFFFF;
    width: 50px;
    height: 50px;
    padding: .25em 0 0 0;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
}
.bounce.animated {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    -ms-animation-duration: 3s;
    animation-duration: 3s;
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
	-ms-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
/*-- //w3layouts-banner-info --*/
/*-- introduction --*/
.introduction,.about,.gallery,.team-dot,.news,.contact{
	padding:4em 0;
}
.w3l-heading h3{
    text-align: center;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}
.w3ls-border{
    background: #000000;
    width: 7%;
    margin: 3em auto 0;
    height: 2px;
}
.introduction-info,.agileits-about-grids,.agileits-team-grids,.wthree-news-grids {
    margin: 4em 0 0 0;
}
.introduction-info p{
	color: #999999;
    font-size: 1em;
    margin: 0 auto;
    line-height: 1.8em;
    width: 70%;
    text-align: center;
}
/*-- //introduction --*/
/*-- about --*/

.about-heading h3{
	color:#FFFFFF;
}
.about-border{
	background: #FFFFFF;
}

/*-- //gallery --*/
/*-- team --*/
.team{
	background: url(../images/bg.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.team-dot {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
.team-info{
    position: relative;
    overflow: hidden;	
}
.team-info img{
    width: 100%;
    border: solid 2px #ffffff;
}
.team-caption h4{
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 600;
    margin: 4.5em 0 0 0;
}
.team-caption p{
    color: #e1e1e1;
    font-size: .9em;
    margin: 0;
}
.team-caption ul{
    padding: 0;
    margin: 1em 0 0 0;
}
.team-caption ul li{
    display: inline-block;
}
.team-caption ul li a {
	color: #333;
    text-align: center;
}
.team-caption ul li a i.fa.fa-facebook{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-facebook:hover {
    background: #3b5998;
}
.team-caption ul li a i.fa.fa-twitter{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-twitter:hover{
	background: #55acee;
}
.team-caption ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-rss:hover{
	background: #f26522;
}
.team-caption {
    background: #8e3cfe;
    padding: 1em;
    position: absolute;
    left: 0;
    border: solid 2px #ffffff;
    bottom: -105%;
    text-align: center;
    width: 100%;
    height: 381px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.team-info:hover .team-caption{
    bottom: 0%;
}
.team-info:hover .team-caption {
    bottom: 0%;
}
/*-- //team --*/
/*-- news --*/

/*-- //news --*/
/*-- modal --*/
.agileits-w3layouts-info img{
	width:100%;
}
.modal-header h4 {
    text-align: center;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}
.modal-header h5{
    margin: 1em 0;
    color: #999999;
    font-size: 1em;
    text-align: center;
}
.modal-body p{
    margin: 1em 0 0 0;
    font-size: .875em;
    color: #999999;
    line-height: 1.8em;
}
/*-- //modal --*/
/*-- contact --*/

/*-- //contact --*/
/*-- footer --*/
footer{
	padding:1em 0;
	background: #8e3cfe;
	text-align:center;
}
footer p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
}
footer p a{
	color:#000000;
	text-decoration:none;
}
footer p a:hover{
	color:#FFFFFF;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive --*/
@media(max-width:1440px){
	.contact-form-left {
		padding: 4em 0em 4em 9em;
	}
	.contact-form-right {
		padding: 4em 9em 4em 4em;
	}
}
@media(max-width:1280px){
	.contact-form-left {
		padding: 4em 0em 4em 6em;
	}
	.contact-form-right {
		padding: 4em 6em 4em 4em;
	}
}
@media(max-width:1080px){
	.w3ls-text {
		width: 35%;
	}
	.team-caption {
		height: 306px;
	}
	.team-caption h4 {
		margin: 3.5em 0 0 0;
	}
	.address-info {
		width: 60%;
	}
}
@media(max-width:991px){
	.agileits-logo h1 a img {
		width: 8%;
	}
	.navbar-header {
		float: none;
		text-align: center;
		margin: 0 0 2em 0;
	}
	.navbar-nav {
		float: none;
		margin: 0;
		text-align: center;
	}
	.navbar-nav > li {
		float: none;
		display: inline-block;
	}
	.w3layouts-banner-info {
		padding: 6em 0 2em 0;
	}
	.w3ls-text {
		width: 50%;
	}
	.introduction-info p {
		width: 90%;
	}
	.about-grids1 {
		margin-top: 2em;
	}
	.about-grid:nth-child(2){
		margin:2em 0 0 0;
	}
	.agileits-team-grid {
		float: left;
		width: 50%;
		margin:0 0 2em 0;
	}
	.agileits-team-grid:nth-child(3),.agileits-team-grid:nth-child(4) {
		margin:0;
	}
	.team-caption {
		height: 494px;
	}
	.team-caption h4 {
		margin: 6.5em 0 0 0;
	}
	div#design {
		min-height: 900px;
	}
	.address-icon {
		width: 6%;
	}
}
@media(max-width:736px){
	.navbar-toggle {
		margin-right: 0;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: none;
	}
	.navbar-collapse {
		position: absolute;
		width: 100%;
	}
	.navbar-nav > li {
	    float: none;
		text-align: center;
		background: #8e3cfe;
		display: block;
	}
	.navbar-nav > li > a {
		margin: 0;
	}
	.w3ls-text h2 {
		font-size: 4em;
	}
	.w3ls-text {
		width: 46%;
	}
	.w3layouts-banner-info {
		padding: 3em 0 2em 0;
	}
	.w3_tab_img_left {
		float: left;
		width: 50%;
	}
	.team-caption {
		height: 470px;
	}
	.wthree-news-left{
		width:15%;
	}
	.date-text{
		width:80%;
	}
	div#design {
		min-height: 940px;
	}
}
@media(max-width:667px){
	.team-caption {
		height: 419px;
	}
	.team-caption h4 {
		margin: 5.5em 0 0 0;
	}
}
@media(max-width:600px){
	.w3ls-text {
		width: 55%;
	}
	.nav-tabs > li {
		margin: 0 0px;
	}
	.team-caption {
		height: 368px;
	}
	.address-icon {
		width: 11%;
	}
	.w3ls-border {
		width: 15%;
	}
}
@media(max-width:568px){
	.team-caption {
		height: 344px;
	}
	.team-caption h4 {
		margin: 4.5em 0 0 0;
	}
	div#design {
		min-height: 1073px;
	}
	.styled-input {
		width: 47%;
	}
}
@media(max-width:480px){
	.w3ls-text {
		border: solid 10px #FFFFFF;
	}
	.w3ls-text h2 {
		font-size: 3em;
	}
	.about-grid-left span {
		font-size: 1.7em;
	}
	.nav-tabs > li > a {
		margin-right: 0px;
		padding: .5em .5em;
	}
	.team-caption {
		height: 278px;
	}
	.team-caption h4 {
		margin: 2.5em 0 0 0;
	}
	div#design {
		min-height: 1167px;
	}
	.styled-input {
		width: 100%;
		float: none;
		margin: 2em 0 1em 0em;
	}
	.styled-input.agile-styled-input-top {
		margin-top: 2em;
	}
	.navbar-header {
		text-align: left;
	}
	.agileits-logo h1 a {
		letter-spacing: 1px;
	}
	.agileits-logo h1 a img {
		width: 10%;
	}
	.wthree-news-left{
		width:20%;
	}
	.date-text{
		width:75%;
	}
	.wthree-news-grids {
		width: 95%;
	}
	div#design {
		min-height: 1115px;
	}
}
@media(max-width:414px){
	.agileits-logo h1 a {
		font-size: .8em;
	}
	.agileits-logo h1 a img {
		width: 13%;
	}
	.w3ls-text {
		width: 65%;
	}
	.w3layouts-banner-info {
		padding: 1em 0 1em 0;
	}
	.introduction, .about, .gallery, .team-dot, .news, .contact {
		padding: 2em 0;
	}
	.w3ls-border {
		margin: 1em auto 0;
	}
	.introduction-info, .agileits-about-grids, .agileits-team-grids, .wthree-news-grids {
		margin: 1em 0 0 0;
	}
	.about-grid-left span {
		font-size: 1.2em;
	}
	.nav-tabs {
		margin: 2em 0;
	}
	.nav-tabs > li > a {
		font-size: .8em;
	}
	.team-caption h4 {
		font-size: 1.2em;
	}
	.team-caption {
		height: 229px;
	}
	.wthree-news-grids {
		margin: 1em auto 0;
	}
	div#design {
		min-height: 1153px;
	}
	.contact-form-left {
		padding: 2em 0em 2em 2em;
	}
	.contact-form-right {
		padding: 2em 2em 2em 2em;
	}
	.modal-header h4 {
		font-size: 1.2em;
	}
	.contact-form-grid {
		margin: 2em 0 0 0;
	}
}
@media(max-width:384px){
	.team-caption h4 {
		font-size: 1em;
	}
	.team-caption {
		height: 206px;
	}
	.wthree-news-grids {
		width: 100%;
	}
	div#design {
		min-height: 1220px;
	}
	.w3l-heading h3 {
		font-size: 1.5em;
	}
	.header {
		margin: 0em 0 0 0;
	}
}
@media(max-width:375px){
	.nav-tabs > li {
		margin: 2px 0px;
	}
	.navbar-header {
		margin: 0 0 1em 0;
	}
	.team-caption {
		height: 199px;
	}
	div#design {
		min-height: 1210px;
	}
	.wthree-news-grid{
		margin:0 0 1em 0;
	}
}
@media(max-width:320px){
	.agileits-logo h1 a {
		font-size: .6em;
	}
	.agileits-logo h1 a img {
		width: 15%;
	}
	.w3ls-text h2 {
		font-size: 2em;
	}
	.w3ls-text {
		border: solid 5px #FFFFFF;
	}
	.w3-arrow {
		margin: 3em 0 0 0;
	}
	.about-grid-left {
		text-align: center;
		padding: 0;
		float: none;
		margin: 0 auto 1em;
	}
	.about-grid-right {
		float: none;
		text-align: center;
		width: 100%;
	}
	.agileits-team-grid {
		float: none;
		width: 100%;
		margin: 0 0 1em 0;
	}
	.team-caption {
		height: 363px;
	}
	.team-caption h4 {
		font-size: 1.5em;
		margin: 4.5em 0 0 0;
	}
	div#design {
		min-height: 1365px;
	}
	.address-icon {
		width: 16%;
	}
	.navbar-collapse {
		z-index: 99;
	}
}
/*-- //responsive --*/

/*--button--*/

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display:block;
  width:100px;
  margin:0 auto;
}
